{% extends "base_site.html" %}
{% load i18n %}
{% load static %}

{% block title %} {{ current_profile.user.first_name }} {{ current_profile.user.last_name }} {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="clearfix"></div>
        {% include "social_media.html" %}
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                            <div class="profile_img">
                                <div id="crop-avatar">
                                    <!-- Current avatar -->
                                    {% if current_profile == profile %}
                                        <a href="{% url "edit_user" %}">
                                            <img class="img-circle profile_img"
                                                 src="/images/{{ current_profile.avatar }}"
                                                 alt="Avatar" title="{% trans "Edit profile" %}">
                                        </a>
                                    {% else %}
                                        <img class="img-circle profile_img"
                                             src="/images/{{ current_profile.avatar }}" alt="Avatar"
                                             title="{{ current_profile.user.username }}">
                                    {% endif %}

                                </div>
                            </div>
                            <h3>{{ current_profile.user }}</h3>
                            <h2>{{ current_profile.user.first_name }} {{ current_profile.user.last_name }}</h2>
                            {% if current_profile == profile %}
                                <a class="btn btn-primary nav-link" href="{% url  'edit_user' %}">
                                    {% trans "Edit Profile" %}
                                </a>
                            {% else %}
                                {% if not profile.user in list_friends %}
                                    <a class="btn btn-success nav-link" href="{% url 'change_friends' operation='add' pk=current_profile.pk %}">{% trans "Follow" %}</a>
                                {% else %}
                                    <a class="btn btn-danger nav-link" href="{% url 'change_friends' operation='remove' pk=current_profile.pk %}">{% trans "Unfollow" %}</a>
                                {% endif %}
                            {% endif %}
                            <br/>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#tab_games" id="home-tab" role="tab" data-toggle="tab"
                                           aria-expanded="true">{% trans "Games" %}</a>
                                    </li>
                                    <li role="presentation" class="">
                                        <a href="#tab_friends" role="tab" id="friends-tab" data-toggle="tab"
                                           aria-expanded="false">{% trans "Friends" %}</a>
                                    </li>
                                    <!--                    <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Friends</a>-->
                                    <!--                    </li>-->
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <!-- start games -->
                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_games"
                                         aria-labelledby="home-tab">
                                        <!-- start Queue -->
                                        <div class="x_panel">
                                            <div class="x_title">
                                                <h2>{% trans "Queue" %}</h2>
                                                <ul class="nav navbar-right panel_toolbox" style="min-width: 0">
                                                    <li><a class="collapse-link">
                                                        <i class="fa fa-chevron-up"></i></a>
                                                    </li>
                                                </ul>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                                <div class="album py-5 bg-light">
                                                    <div class="row">
                                                        {% if queue.count == 0 %}
                                                            <h1>{% trans "No Games" %}</h1>
                                                        {% else %}
                                                            {% for title in queue %}
                                                                <div class="col-sm-2">
                                                                    <a href="/game/{{ title.game_version.db_id }}">
                                                                        <div class="card bg-light mb-3" style="max-width: 30rem;">
                                                                            <img class="img-responsive card-img-top"
                                                                                 src="{{ title.game_version.parent_game.img_url }}"
                                                                                 alt="{{ title.game_version.name }}"/>
                                                                            <div class="card-body">
                                                                                <b class="card-text">{{ title.game_version.name }}</b>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            {% endfor %}
                                                            <div class="col-sm-2">
                                                                <div class="card bg-light mb-3" style="max-width: 10rem;">
                                                                    <a href="{% url "queue_table" %}">
                                                                        <img class="img-responsive card-img-overlay"
                                                                             src="{% static "images/blue-plus-icon.jpg" %}"
                                                                             alt="More"/>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="x_panel">
                                            <div class="x_title">
                                                <h2>{% trans "Playing" %}</h2>
                                                <ul class="nav navbar-right panel_toolbox" style="min-width: 0">
                                                    <li><a class="collapse-link">
                                                        <i class="fa fa-chevron-up"></i></a>
                                                    </li>
                                                </ul>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                                <div class="album py-5 bg-light">
                                                    <div class="row">
                                                        {% if playing.count == 0 %}
                                                            <h1>{% trans "No Games" %}</h1>
                                                        {% else %}
                                                            {% for title in playing %}
                                                                <div class="col-sm-2">
                                                                    <a href="/game/{{ title.game_version.db_id }}">
                                                                        <div class="card bg-light mb-3" style="max-width: 30rem;">
                                                                            <img class="img-responsive card-img-overlay"
                                                                                 src="{{ title.game_version.parent_game.img_url }}"
                                                                                 alt="{{ title.game_version.name }}"/>

                                                                            <div class="card-body">
                                                                                <b class="card-text">{{ title.game_version.name }}</b>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            {% endfor %}
                                                            <div class="col-sm-2">
                                                                <div class="card bg-light mb-3" style="max-width: 10rem;">
                                                                    <a href="{% url "playing_table" %}">
                                                                        <img class="img-responsive card-img-top"
                                                                             src="{% static "images/blue-plus-icon.jpg" %}"
                                                                             alt="More"/>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="x_panel">
                                            <div class="x_title">
                                                <h2>{% trans "Finished" %}</h2>
                                                <ul class="nav navbar-right panel_toolbox" style="min-width: 0">
                                                    <li><a class="collapse-link">
                                                        <i class="fa fa-chevron-up"></i></a>
                                                    </li>
                                                </ul>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                                <div class="album py-5 bg-light">
                                                    <div class="row">
                                                        {% if finished.count == 0 %}
                                                            <h1>{% trans "No Games" %}</h1>
                                                        {% else %}
                                                            {% for title in finished %}
                                                                <div class="col-sm-2">
                                                                    <a href="/game/{{ title.game_version.db_id }}">
                                                                        <div class="card bg-light mb-3" style="max-width: 30rem;">
                                                                            <img class="img-responsive card-img-top"
                                                                                 src="{{ title.game_version.parent_game.img_url }}"
                                                                                 alt="{{ title.game_version.name }}"/>
                                                                            <div class="card-body">
                                                                                <b class="card-text">{{ title.game_version.name }}</b>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            {% endfor %}
                                                            <div class="col-sm-2">
                                                                <div class="card bg-light mb-3" style="max-width: 10rem;">
                                                                    <a href="{% url "finished_table" %}">
                                                                        <img class="img-responsive card-img-overlay"
                                                                             src="{% static "images/blue-plus-icon.jpg" %}"
                                                                             alt="More"/>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="x_panel">
                                            <div class="x_title">
                                                <h2>{% trans "Played" %}</h2>
                                                <ul class="nav navbar-right panel_toolbox" style="min-width: 0">
                                                    <li><a class="collapse-link">
                                                        <i class="fa fa-chevron-up"></i></a>
                                                    </li>
                                                </ul>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                                <div class="album py-5 bg-light">
                                                    <div class="row">
                                                        {% if played.count == 0 %}
                                                            <h1>{% trans "No Games" %}</h1>
                                                        {% else %}
                                                            {% for title in played %}
                                                                <div class="col-sm-2">
                                                                    <a href="/game/{{ title.game_version.db_id }}">
                                                                        <div class="card bg-light mb-3" style="max-width: 30rem;">
                                                                            <img class="img-responsive card-img-top"
                                                                                 src="{{ title.game_version.parent_game.img_url }}"
                                                                                 alt="{{ title.game_version.name }}"/>
                                                                            <div class="card-body">
                                                                                <b class="card-text">{{ title.game_version.name }}</b>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            {% endfor %}
                                                            <div class="col-sm-2">
                                                                <div class="card bg-light mb-3" style="max-width: 10rem;">
                                                                    <a href="{% url "played_table" %}">
                                                                        <img class="img-responsive card-img-overlay"
                                                                             src="{% static "images/blue-plus-icon.jpg" %}"
                                                                             alt="More"/>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="x_panel">
                                            <div class="x_title">
                                                <h2>{% trans "Abandoned" %}</h2>
                                                <ul class="nav navbar-right panel_toolbox" style="min-width: 0">
                                                    <li><a class="collapse-link">
                                                        <i class="fa fa-chevron-up"></i></a>
                                                    </li>
                                                </ul>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                                <div class="album py-5 bg-light">
                                                    <div class="row">
                                                        {% if abandoned.count == 0 %}
                                                            <h1>{% trans "No Games" %}</h1>
                                                        {% else %}
                                                            {% for title in abandoned %}
                                                                <div class="col-sm-2">
                                                                    <a href="/game/{{ title.game_version.db_id }}">
                                                                        <div class="card bg-light mb-3" style="max-width: 30rem;">
                                                                            <img class="img-responsive card-img-top"
                                                                                 src="{{ title.game_version.parent_game.img_url }}"
                                                                                 alt="{{ title.game_version.name }}"/>
                                                                            <div class="card-body">
                                                                                <b class="card-text">{{ title.game_version.name }}</b>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            {% endfor %}
                                                            <div class="col-sm-2">
                                                                <div class="card bg-light mb-3" style="max-width: 10rem;">
                                                                    <a href="{% url "abandoned_table" %}">
                                                                        <img class="img-responsive card-img-overlay center"
                                                                             src="{% static "images/blue-plus-icon.jpg" %}"
                                                                             alt="More"/>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end games -->
                                    <!-- start friends -->
                                    <div role="tabpanel" class="tab-pane fade" id="tab_friends" aria-labelledby="profile-tab">
                                        <table id="datatable" class="tab-pane fade active in">
                                            <div class="album py-5 bg-light">
                                                <div class="row">
                                                    {% if list_friends.count == 0 %}
                                                        <h1>{% trans "No Friends" %}</h1>
                                                    {% else %}
                                                        {% for fr in list_friends %}
                                                            <div class="col-sm-2">
                                                                <a href="{% url 'profile_with_pk' pk=fr.pk %}">
                                                                    <div class="card bg-light mb-3" style="max-width: 30rem;">
                                                                        <img class="img-responsive card-img-top" src="/images/{{ fr.user.get.avatar }}" alt="{{ fr.username }}"/>
                                                                        <div class="card-body">
                                                                            <b class="card-text">{{ fr.first_name }} {{ fr.last_name }}</b><br/>
                                                                            <small class="card-text">{{ fr.username }}</small>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </table>
                                    </div>
                                    <!-- end friends -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
{% endblock javascripts %}