<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Password reset" %}</title>
</head>
<body>

</body>
</html>

{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% trans "GameHoarder Login" %}</title>
    <link href="{% static 'css/letras.css' %}" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
<img src="{% static 'images/fondo.png' %}" alt="fondo" class="img">


<div class="form">

    <h1>
        {% trans "Your password has been updated. You can now" %} <a
            href="/login">login</a>

    </h1>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/password-match.js' %}"></script>


</body>
</html>