{% load i18n %}
{% load static %}
<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <p class="site_title"><i class="fa fa-spinner"></i> <span>GameHoarder</span></p>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
        <div class="profile_pic">
            <a href="{% url "profileView" %}">
                <img src="/images/{{ profile.avatar }}" alt="{{ profile.user.username }}" class="img-circle profile_img">
            </a>
        </div>
        <div class="profile_info">
            <span>{% trans "Welcome" %},</span>
            <h2>{{ profile.user.username }}</h2>
        </div>
    </div>
    <!-- /menu profile quick info -->

    <br/>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>{% trans "General" %}</h3>
            <ul class="nav side-menu">
                <li><a href="{% url "index" %}"><i class="fa fa-home"></i> {% trans "Home" %} <span
                        class="fa"></span></a></li>
                <li><a href="{% url "search_users" %}"><i class="fa fa-users"></i> {% trans "Users" %} <span
                        class="fa"></span></a></li>
            </ul>
        </div>
        <div class="menu_section">
            <h3>{% trans "Collection" %}</h3>
            <ul class="nav side-menu">
                <li><a href="{% url "collection_summary" %}"><i class="fa fa-archive"></i> {% trans "Summary" %} <span
                        class="fa"></span></a></li>
                <li><a href="{% url "search" %}"><i class="fa fa-search"></i> {% trans "Search" %} <span
                        class="fa"></span></a></li>
                <li><a><i class="fa fa-table"></i> {% trans "Tables" %} <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url "queue_table" %}">{% trans "Queue" %}</a></li>
                        <li><a href="{% url "playing_table" %}">{% trans "Playing" %}</a></li>
                        <li><a href="{% url "finished_table" %}">{% trans "Finished" %}</a></li>
                        <li><a href="{% url "played_table" %}">{% trans "Played" %}</a></li>
                        <li><a href="{% url "abandoned_table" %}">{% trans "Abandoned" %}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="menu_section">
            <h3>{% trans "Lists" %}</h3>
            <ul class="nav side-menu">
                <li><a href="{% url "interested_table" %}"><i class="fa fa-bookmark"></i> {% trans "Interested" %} <span
                        class="fa"></span></a>
                </li>
                <li><a href="{% url "wishlist_table" %}"><i class="fa fa-star"></i> {% trans "Wishlist" %} <span
                        class="fa"></span></a></li>
                {#                <li><a><i class="fa fa-institution"></i> {% trans "Custom" %} <span#}
                {#                        class="fa fa-chevron-down"></span></a>#}
                {#                    <ul class="nav child_menu">#}
                {#                        {% for tag in tags %}#}
                {#                            <li><a href="/tag/?tag={{ tag.name }}">{{ tag.name }}</a></li>#}
                {#                        {% endfor %}#}
                {#                    </ul>#}
                {#                </li>#}
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Logout" href="/logout">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </div>
    <!-- /menu footer buttons -->
</div>
