{% load i18n %}
{% load static %}
<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a class="site_title">
            <i class="fa fa-shopping-bag"></i>
            <span>{% trans "Man. Assistant" %}</span>
        </a>
        {#        <a class="site_title"><i class="fa fa-shopping-bag"></i> ManagementAssistant</a>#}
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
        <div class="profile_pic">
            <a href="{% url "profile_view" %}">
                <img src="/images/{{ profile.avatar }}" alt="{{ profile.user.first_name }} {{ profile.user.last_name }}" class="img-circle profile_img">
            </a>
        </div>
        <div class="profile_info">
            <span>{% trans "Welcome" %},</span>
            <h2>{{ profile.user.first_name }} {{ profile.user.last_name }}</h2>
        </div>
    </div>
    <!-- /menu profile quick info -->

    <br/>
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu ">
                <li><a href="{% url "profile_view" %}"><i class="fa fa-user"></i> {% trans "User" %} </a></li>
            </ul>
            <h3>{% trans "General" %}</h3>
            <ul class="nav side-menu">
                {% for shop in profile.shops.all %}
                    <li><a><i class="fa fa-home"></i>{{ shop.name }}<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{% url "shop" pk=shop.pk%}">{% trans "Shop Info" %}</a></li>
                            <li><a href="{% url "sales" pk=shop.pk%}">{% trans "Sales" %} <i class="fa fa-euro"></i></a></li>
                            <li><a href="{% url "expenses" pk=shop.pk%}">{% trans "Expenses" %} <i class="fa fa-cart-arrow-down"></i></a></li>
                            <li><a href="{% url "stats" pk=shop.pk%}">{% trans "Stats" %} <i class="fa fa-area-chart"></i></a></li>
                            <li><a href="{% url "predictions" pk=shop.pk%}">{% trans "Predictions" %} <i class="fa fa-line-chart"></i></a></li>
                            <li><a href="{% url "sales_upload" pk=shop.pk%}">{% trans "Upload Sales" %} <i class="fa fa-upload"></i></a></li>
                            <li><a href="{% url "expenses_upload" pk=shop.pk%}">{% trans "Upload Expenses" %} <i class="fa fa-upload"></i></a></li>
                        </ul>
                    </li>
                {%  endfor %}
                <li><a href="{% url "new_shop" %}"><i class="fa fa-plus-circle"></i> {% trans "New Shop" %}</a></li>
            </ul>
        </div>
        <div class="menu_section">
            <form action="{% url 'set_language' %}" method="post"> {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="hidden" name="next" value="{{ redirect_to }}" class="form-control">
                    <label for="language_select"><h3>{% trans "Select language" %}</h3></label>
                    <select class="form-control custom-select" name="language" id="language_select">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" value="Go">Go</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout" href={% url "logout" %}>
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </div>
    <!-- /menu footer buttons -->
</div>
