{% extends "base_site.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Queue" %}{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}

    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>{% trans "Queue" %}</h3>
                </div>

            </div>
            <div class="clearfix"></div>

        {% include "collection/forms/filter_tables.html" %}

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>{% trans "Titles" %}</h2>
                            <ul class="nav navbar-right panel_toolbox" style="min-width: 0">
                                <li><a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th class="text-center">{% trans "Date Adquired" %}</th>
                                    <th class="text-center">{% trans "Platform" %}</th>
                                    <th class="text-center">{% trans "Game" %}</th>
                                    <th class="text-center">{% trans "Main Time" %}</th>
                                    <th class="text-center">{% trans "Main + Extra Time" %}</th>
                                </tr>
                                </thead>
                                <tbody id="to_change">
                                {% for title in titles %}
                                    <tr>
                                        <td class="text-center">
                                            {% if title.date_adquired is not None %}
                                                {{ title.date_adquired|date:"Y-m-d" }}
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {{ title.game_version.platform.name }}
                                        </td>
                                        <td><a href="/game/{{ title.game_version.db_id }}">
                                            {{ title.game_version.parent_game.title }}</a>
                                        </td>
                                        <td class="text-center">
                                            {{ title.game_version.parent_game.main_time }}
                                        </td>
                                        <td class="text-center">
                                            {{ title.game_version.parent_game.extra_time }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        document.getElementById("ajax_test").onclick = function(){myFunction()};
        var title = "Queue";
        function myFunction() {
            $.ajaxSetup({
                cache: false
            });
            var form_s = $('form').serialize();
            $.ajax({
                url: window.location.origin+'/table/filter?'+form_s+'&'+'type='+title,
                type:"GET",
                cache: false,
                dataType: 'json',
                success: function(response) {
                    $('#to_change').html("");
                    for (i=0; i<response['new_titles'].length; i++) {
                        {% for title in titles %}
                            if (response['new_titles'][i] == "{{title.game_version.db_id}}") {
                                $('#to_change').append("<tr>\n" +
                                    "    <td class=\"text-center\">\n" +
                                    "        {% if title.date_adquired is not None %}\n"+
                                        "            {{ title.date_adquired|date:"Y-m-d" }}\n"+
                                        "        {% endif %}\n" +
                                    "    </td>\n" +
                                    "    <td class=\"text-center\">\n" +
                                    "        {{ title.game_version.platform.name }}\n" +
                                    "    </td>\n" +
                                    "    <td><a href=\"/game/{{ title.game_version.db_id }}\">\n" +
                                    "        {{ title.game_version.parent_game.title }}</a>\n" +
                                    "    </td>\n" +
                                    "    <td class=\"text-center\">\n" +
                                    "        {{ title.game_version.parent_game.main_time }}\n" +
                                    "    </td>\n" +
                                    "    <td class=\"text-center\">\n" +
                                    "        {{ title.game_version.parent_game.extra_time }}\n" +
                                    "    </td>\n" +
                                    "</tr>");
                            }

                        {% endfor %}
                    }

                }
            })
        }
    </script>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}

    <!-- Datatables -->
    <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>

{% endblock javascripts %}
