{% extends "base_site.html" %}
{% load i18n %}
{% load static %}

{% block title %} {{ profile.user.first_name }} {{ profile.user.last_name }} {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                            <div class="profile_img">
                                <div id="crop-avatar">
                                    <!-- Current avatar -->
                                    <a href="{% url "edit_user" %}">
                                        <img class="img-circle profile_img"
                                             src="/images/{{ profile.avatar }}"
                                             alt="Avatar" title="{% trans "Edit profile" %}">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <h2><strong>{% trans "Username" %}: </strong>{{ profile.user }}</h2>
                            <h2><strong>{% trans "Name & last name" %}: </strong>{{ profile.user.first_name }} {{ profile.user.last_name }}</h2>
                            <h2><strong>{% trans "Email" %}: </strong>{{ profile.user.email }}</h2>
                            <h2><strong>{% trans "Shops list" %}: </strong></h2>
                            {% for shop in profile.shops.all %}
                                <h2>{{ shop.name }}</h2>
                            {% endfor %}
                            <br/>
                            <a class="btn btn-primary nav-link" href="{% url  'edit_user' %}">
                                {% trans "Edit Profile" %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
{% endblock javascripts %}